<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zym.pss.baseinfo.mapper.ProductULLMapper">
	<resultMap id="ProductULLRM" type="ProductULL">
		<id property="id" column="PRODUCT_ULL_ID"/>
		
		<!-- 对应外键表关系用-->
		<result property="repositoryNo" column="REPOSITORY_NO"/>
		<result property="productNo" column="PRODUCT_NO"/>
		<result property="productName" column="PRODUCT_NAME"/>
		
		<result property="upperAmount" column="UPPER_AMOUNT"/>
		<result property="lowerAmount" column="LOWER_AMOUNT"/>
		<result property="bestAmount" column="BEST_AMOUNT"/>
		<result property="packingUnit" column="PACKING_UNIT"/>
		<result property="memo" column="MEMO"/>
		<result property="tenantId" column="TENANT_ID"/>
	</resultMap>
	
	<!-- 查询列表 -->
	<select id="find" parameterType="map" resultMap="ProductULLRM">
		select * from PRODUCT_ULL_C
		<where>
			TENANT_ID = #{tenantId}
		</where>
	</select>
	
	<!-- 分页查询 -->
	<select id="findPage" resultMap="ProductULLRM">
		select * from PRODUCT_ULL_C
	</select>
	
	<!-- 获取单个 -->
	<select id="get" parameterType="string" resultMap="ProductULLRM">
		select * from PRODUCT_ULL_C 
		where PRODUCT_ULL_ID = #{pid}	
	</select>
	
	<!-- 添加 -->
	<insert id="insert" parameterType="ProductULL">
		insert into PRODUCT_ULL_C 
		(PRODUCT_ULL_ID,REPOSITORY_NO,PRODUCT_NO,PRODUCT_NAME,UPPER_AMOUNT,LOWER_AMOUNT,BEST_AMOUNT,PACKING_UNIT,MEMO,TENANT_ID)
		values
		(
			#{id , jdbcType = VARCHAR},
			#{repositoryNo , jdbcType = VARCHAR},
			#{productNo , jdbcType = VARCHAR},
			#{productName , jdbcType = VARCHAR},
			#{upperAmount , jdbcType = DOUBLE},
			#{lowerAmount , jdbcType = DOUBLE},
			#{bestAmount , jdbcType = DOUBLE},
			#{packingUnit , jdbcType = VARCHAR},
			#{memo , jdbcType = VARCHAR},
			#{tenantId , jdbcType = VARCHAR}
		)
	</insert>
	<!-- 修改 -->
	<update id="update" parameterType="ProductULL">
		update PRODUCT_ULL_C
		<set>
			<if test="repositoryNo != null">REPOSITORY_NO = #{repositoryNo},</if>
			<if test="productNo != null">PRODUCT_NO = #{productNo},</if>
			<if test="productName != null">PRODUCT_NAME = #{productName},</if>
			
			<if test="upperAmount != null">UPPER_AMOUNT = #{upperAmount},</if>
			<if test="lowerAmount != null">LOWER_AMOUNT = #{lowerAmount},</if>
			<if test="bestAmount != null">BEST_AMOUNT = #{bestAmount},</if>
			<if test="packingUnit != null">PACKING_UNIT = #{packingUnit},</if>
			<if test="memo != null">MEMO = #{memo},</if>
		</set>
		where PRODUCT_ULL_ID = #{id}
	</update>
	<!-- 删除单个 -->
	<delete id="deleteById" parameterType="string">
		delete from PRODUCT_ULL_C 
		where PRODUCT_ULL_ID = #{pid}
	</delete>
		<!-- 批量删除 -->
	<delete id="delete" parameterType="string">
		delete from PRODUCT_ULL_C 
		where PRODUCT_ULL_ID in
		<foreach collection="array" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>
</mapper>